<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-left ">
        <div class="footer-background h5 text-dark fixed-bottom" th:fragment="copy" >
            &copy;
            <span th:text="#{footer_message}"></span>
        </div>
    </div>
</footer>
</body>
</html>