<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head th:replace="fragments/head">head</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>


<div class="container-fluid">
    <h5 class="text-center text-dark mt-5">
        <span th:text="#{index_welcome}" ></span>
        <span
                sec:authorize="isAuthenticated()"
                th:text="${#authentication.principal.fullName}">
        </span>

        <span sec:authorize="!isAuthenticated()">

        </span>
    </h5>
</div>

<div>
    <footer th:replace="fragments/footer::footer"> </footer>
</div>

</body>
</html>