<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">head</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white" th:text="#{offer_add_upload}">Upload Offer</h2>
    <form th:action="@{/offers/add}"
          th:method="post"
          th:object="${addOfferModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="animalType" th:text="#{offer_add_animal_type}">Animal type</label>
                <select
                        id="animalType"
                        name="animalType"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="" th:text="#{offer_add_animal_type2}">- Select animal type -</option>
                    <option th:each="e : ${T(bg.exam.animal4me.model.enums.TypeAnimal).values()}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{animalType}">
                        Animal type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Animal type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="sellOrBuy" th:text="#{offer_add_sell_or_buy}">Sell or Buy</label>
                <select id="sellOrBuy"
                        name="sellOrBuy"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="" th:text="#{offer_add_sell_or_buy2}">- Select sell or buy -</option>
                    <option th:each="e : ${T(bg.exam.animal4me.model.enums.SellOrBuy).values()}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{sellOrBuy}">
                        Sell or Buy type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Sell or Buy is required.
                </p>
            </div>
        </div>
        <div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelId"th:text="#{offer_add_species}">Species</label>
                <select id="modelId"
                        name="modelId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="" th:text="#{offer_add_species2}">- Select a species -</option>
                    <optgroup
                            th:each="specie : ${species}"
                            th:label="${specie.name}">
                        <option
                                th:each="model : ${specie.models}"
                                th:text="${model.name}"
                                th:value="${model.id}"
                                th:selected="*{modelId} == ${model.id}">Model
                        </option>
                    </optgroup>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Species is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold" th:text="#{offer_add_price}">Price</label>
                <input
                        id="price"
                        th:field="*{price}"
                        th:errorclass="is-invalid"
                        type="number"
                        min="0"
                        step="1"
                        class="form-control"
                        th:placeholder="#{offer_add_price2}"
                />
                <p class="invalid-feedback errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold" th:text="#{offer_add_year}">Year of birth</label>
                <input
                        id="year"
                        th:field="*{year}"
                        th:errorclass="is-invalid"
                        type="number"
                        min="2000"
                        step="1"
                        class="form-control"
                        th:placeholder="#{offer_add_year2}"
                />
                <p class="invalid-feedback errors alert alert-danger">
                    Year of birth is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="description" th:text="#{offer_add_description}">Description</label>
                <textarea
                        id="description"
                        th:field="*{description}"
                        th:errorclass="is-invalid"
                        type="textarea"
                        class="form-control"
                        rows="3"
                        th:placeholder="#{offer_add_description2}"
                >
            </textarea>
                <p class="invalid-feedback errors alert alert-danger">
                    Description is required.
                </p>
            </div>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label class="text-white font-weight-bold" for="imageUrl" th:text="#{offer_add_image}">Image URL</label>
            <input
                    id="imageUrl"
                    th:field="*{imageUrl}"
                    th:errorclass="is-invalid"
                    type="url"
                    class="form-control"
                    th:placeholder="#{offer_add_image2}"
            />
            <p class="invalid-feedback errors alert alert-danger">
                Animal image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" th:value="#{offer_add_submit}"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="fragments/footer::footer"></footer>
</div>

</body>
</html>